.scroll-axis-aware {
    --_scroll-axis-aware-height : var(--scroll-axis-aware-height);
    margin-block: 10vh;
    height: var(--_scroll-axis-aware-height);

  }
  

  .scroll-axis-aware:has(.img-wrapper) {
    --cols : 7 ;
    --cols-gap : 1rem ;
    --cols-w : 200px ;

    --img-wrapper-w: 200px;
    --img-wrapper-r: calc(9 / 16);
    --img-wrapper-h: calc(var(--img-wrapper-w) / var(--img-wrapper-r));

    --scroll-axis-aware-height : var(--img-wrapper-h) ;

    .part {
      min-width: calc( (var(--cols) * var(--cols-w)) + ( var(--cols-gap) * var(--cols) ));
      gap : var(--cols-gap);
    }
    
    .img-wrapper{
      flex: 0 0 var(--img-wrapper-w);
      aspect-ratio: var(--img-wrapper-r);
    }

 
  } 

  .scroll-axis-aware:has(.text-item) {
    --min-w :  calc((var(--cols) * var(--text-item-w)) + (var(--cols-gap) * var(--cols) )) ;
    --max-w : calc(var(--min-w) * 0.75) ;

    --cols: 5;
    --cols-gap: 1rem;

    --text-item-w: 8.5em; 
    --text-item-r: calc(16 / 12);
    --text-item-h-calc : calc(( var(--text-item-w) / var(--text-item-r) ) ) ;
    --text-item-h: calc(  var(--text-item-h-calc)  /  ( var(--cols) - 1)  );
  
    --scroll-axis-aware-height: var(--text-item-h);
  
    font-size: clamp(1.8rem, 7vw , 4rem);

    .part {
      width:  min(var(--min-w) , var(--max-w))    ;
      gap: var(--cols-gap);
    }
    
    .text-item {
      font-size: inherit;
      flex: 0 0 calc(var(--text-item-w) - 2em);
    }
  }
  
  .scroll-axis-aware:has(.logo-wrapper) {
    --bg : teal ;

    --min-w :  calc((var(--cols) * var(--logo-w)) + (var(--cols-gap) * var(--cols) )) ;
    /* --max-w : calc(var(--min-w) * .97) ; */
    --max-w : calc(var(--min-w) * .69) ;

    --cols: 6;
    --cols-gap: 5rem;

    --logo-w: 150px; 
    --logo-r: calc(1 / 1);
    --logo-h-calc : calc(( var(--logo-w) / var(--logo-r) ) ) ;
    --logo-h: calc(  var(--logo-h-calc)  /  ( var(--cols) )  );
  
    --scroll-axis-aware-height: calc( var(--logo-h-calc) * .7);

    .part {
      width:  min(var(--min-w) , var(--max-w))    ;
      gap: var(--cols-gap);
    }
    
    .logo-wrapper {
      width: min( var(--logo-w) , 80px);
      img {
        height: 90%;
      }
    }

  }
  
